env:
  # We want to run both (unit) tests and end to end tests as a matrix
  # https://docs.travis-ci.com/user/speeding-up-the-build/#Parallelizing-your-builds-across-virtual-machines
  - TEST_SUITE=test
  - TEST_SUITE=test-e2e
language: node_js
node_js:
  - "8"
  - "10"
script: "CI=true npm run $TEST_SUITE"
sudo: false
